*{  
    margin: 0;   
    padding: 0;    
}

body {
    font-family: 'Lato', Arial;
    background-color: #FAFAFA;
}

/*** Start of header ***/
.logo {
    width: 120px;
    height:100px;
}

nav ul {
    *list-style-type: none;
    display: none; /* important */
}

a {
    display: block;
    background: #5588a3;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

a:hover {
    font-size: 1.1em;
    color: yellow;
}

nav {
    background-color: #5588a3;/*#68A29F;*/
    position: fixed;
    width: 100%;
    z-index: 10; /* Stacking box elements */
}

.nav-container {    
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-between;
}

.nav-container img {
    width: 100px;
    align-self: center;
}

.bar {
    width: 40px;
    height: 2px;
    margin: 10px;
    border-bottom: 4px solid white;
    background: #e8e8e8;
}

.btn {
    border: 3px solid #e8e8e8;
    border-radius: 12px;
    display: inline-block;
    padding: 2px;
    align-self: center;
}

header {
    min-height: 100v;
}

header {
    min-height: 100vh;
    background: url(./data/beachFlip.jpg);
    background-position: center;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

nav {
    flex: 0 0 auto;
}
 
.banner {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.banner h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #00334e;
}

.banner h3 {
    color: #00334e;
    text-transform: capitalize;
}

.banner-icons {
    padding: 10px;
    margin: 5px;
}

.banner-icons a {
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    color: #00334e;  

}

.banner-icons a:hover {
    color: yellow;  
    font-size: 1.3em;
    transition: font-size 1s ease,color 1s ease;
}

/*** End of header ***/


/*** Start of section ***/
section {
    min-height: 70vh;
    background: url(./data/sky.jpg);
    background-position: center;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

section ul {
    flex-direction: column;
    display: flex;
    margin-left: 20px;
    padding:50px;
    list-style: none;
}

section ul li{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section ul li div {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
    color: white;
    padding: 10px;
    line-height: 1.3;
}

.icon {
    /*font-size: 50px;*/
    display: inline-block;
    color: white;
}

.fa-dollar-sign {
    font-size: 75px;
}

.fa-phone {
    font-size: 50px;
}

.fa-plane {
    font-size: 42px;
}
section h1 {
    text-transform: uppercase;
}

/*** End of section ***/

/*** Start of destination display ***/
.display {
    background: #FAFAFA;
}

.display .grid article {
    overflow: hidden;
}

.display h1 {
    text-align: center;
    color: #00334;
}

.grid {
    display: grid;
    margin: 0;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1em;
    align-items: center;
}

.grid img {
    width: 100%;
    height: 350px; 
}

.grid img:hover {
    transition: transform 1s ease;
    transform:scale(2.5);
  }
/*** End of destination display */

/*** Start of section about us ***/

.aboutUs {
    background: white;
    display: flex;
    overflow: hidden;
    align-content: center;
    font-size: 1em;
}

.aboutUs div {
    padding-left: 20px;
    color: black;
    font-size: 1.5em;
    line-height: 1.6;
    transition: all 500ms;
}



/*** End of section about us ***/

/***Start of desktop view ***/
@media (min-width: 600px) { 
   .nav-container {
       display: none;
   }
   nav ul {
       display: flex !important;
       flex-direction: row;
       list-style-type: none;
       justify-content: center;
   }
   section ul li div {
       width: 50%;
   }
   .aboutUs div:hover {
    font-size:40px;
    font-size-adjust: 30px;
   }
}

@media(min-width: 1300px) { 
    .aboutUs div:hover {
        font-size:55px;
        font-size-adjust: 20px;
       }
       section {
        background-attachment: fixed;
    }
}

/*** End of desktop view ***/